<!DOCTYPE html>
<html>
<head>
  <title>My RoR sample application | <%= @title%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %> <!--cross site request forgery defense-->
</head>
<body>

<%= yield %>

</body>
</html>
